# =====================
# NODE / ANGULAR / IONIC
# =====================
node_modules/
dist/
www/

# =====================
# ARCHIVOS GENERADOS
# =====================
backend/uploads/
backend/uploads/**
*.pdf
*.xlsx

# =====================
# LOGS
# =====================
*.log

# =====================
# ENV
# =====================
.env